@using ProductApp.Enums
@using ProductApp.Models.ViewModels
@{
	@model EditProductViewModel
}
<form method="post" asp-action="Edit" class="mt-5">
	<h1>Edit Price</h1>
	<hr />
	<div class="mb-3">
		<label for="price" class="form-label">Price</label>
		<input type="number" class="form-control" name="price" asp-for="Price" />
	</div>
	<div class="mb-3">
		<input type="submit" class="btn-100w btn btn-primary" value="Edit" />
	</div>
</form>
