html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.redirect-icons a:has(.fa) {
    color: black;
    text-decoration: none;
}

.redirect-icons a:not(:last-child) {
    margin-right: 10px;
}

.btn-100w {
    width: 100%;
}

.products-table .products-table-thead {
    background-color: #E5E5E5;
}
